.header{
  background-color: $navbar-color;
  padding: 10px 0;
  border-bottom: 1px solid #e6dfdf;

  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar__logo{

      .navbar__logo-image{
       width: 100%;
        cursor: pointer;
      }
    }
    .navbar__menu{
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $small-breakpoint) {
        display: none;
      }


      .navbar__item-link{
        display: flex;
        align-items: center;
        gap: 3px;
        margin: 0 15px;
        padding: 5px;
        color: $text-color;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 400;
        font-family: $main-font;
        transition: 0.3s color ease-in-out;

        &:hover{
          color: #164958;
        }
        > .bx{
          color: #3b94df;
          font-size: 25px;
        }
      }
    }
    .navbar__trigger{
      font-size: 43px;
      cursor: pointer;
      color: #3b94df;
      display: none;

      @media (max-width: $small-breakpoint) {
        display: block;
        margin-right: 10px;
      }
    }
  }
}