.header {
  background-color: #ffffff;
  padding: 10px 0;
  border-bottom: 1px solid #dfd4d4; }
  .header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .navbar .navbar__logo {
      font-size: 25px;
      font-family: sans-serif;
      cursor: pointer;
      color: gray; }
      .header .navbar .navbar__logo .navbar__logo-image {
        width: 100%; }
    .header .navbar .navbar__menu {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .navbar .navbar__menu .navbar__item-link {
        display: flex;
        align-items: center;
        gap: 3px;
        margin: 0 15px;
        padding: 5px;
        color: gray;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 200;
        font-family: sans-serif;
        transition: 0.3s color ease-in-out; }
        .header .navbar .navbar__menu .navbar__item-link:hover {
          color: #333232; }
        .header .navbar .navbar__menu .navbar__item-link > .bx {
          color: #3b94df;
          font-size: 25px; }
